body{
    font-family: "Roboto", Arial, sans-serif;
    margin: 0px;
}

.header, .intro, .info{
    display: flex;
    align-items: center;
}

.intro{
    padding-top: 50px;
    padding-bottom: 50px;
}

.info, .quote{
    padding-left: 150px;
    padding-right: 150px;
}

.header, .intro{
    color: #d6fdae;
    background-color: #1F2937;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.quote{
    display: flex;
    color: #1f2937;
    background-color: #e5e7eb;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 175px;
}

.info-caption{
    text-align: center;
    width: 175px;
    padding-top: 10px;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

h4{
    font-size: 16px;
    color: #e5e7eb;
    font-weight:lighter;
    margin: 0;
}

h2{
    text-align: center;
}

.logo{
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-link{
    padding: 5px;
    color: #F9FAF8;
}

#link-one{
    margin-left: auto;
}

.image-one{
    width: auto;
    height: 200px;
    margin-left: auto;
    padding: 30px 0px;
}

.info-img{
    width: 175px;
    height: auto;
    border-radius: 10px;
}

#saying{
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

#quotee{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.footer{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    margin: 50px 100px;
    padding: 25px 50px;
}

button{
    background-color: #3882f6;
    color: #d6fdae;
    border-radius: 6px;
    padding: 5px 20px;
    margin-top: 20px;
    border-color: white;
}

.signup-button{
    margin-left: auto;
}